pre {
    color: #fff;
    font-size: 13px;
    background: #000;
    padding: 10px;
    line-height: 18px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    margin-bottom: 15px;
}

code span {
    -moz-transition: color .8s ease-in;
    -o-transition: color .8s ease-in;
    -webkit-transition: color .8s ease-in;
    transition: color .8s ease-in;
}

.animate {
    color: #fff !important;
}

.red {
    color: #f50419;
}

.orange {
    color: #f57900;
}

.yellow {
    color: #f5e600;
}

.green {
    color: #00f50c;
}

.blue {
    color: #0081f5;
}

.indigo {
    color: #5000f5;
}

.violet {
    color: #7d05f5;
}

.comment {
    color: #223576;
}

.javascript .comment {
    color: #535353;
}

.meta, .entity {
    color: #f03200;
}

.support {
    color: #006dcf;
}

.string {
    color: #00f50c;
}

.string.regexp {
    color: #fff;
}

.support.attribute, .support.css-property, .support.regex.modifier {
    color: #0087ff;
}

.support.value {
    color: #1bbbcf;
}

.integer, .constant {
    color: #d8fa3c;
}

.keyword, .selector, .storage {
    color: #fbde2d;
}

.constant.regex.escape {
    color: #d8fa3c;
}